@define-color bar-bg rgba(30, 30, 46, 0);
@define-color main-bg rgba(30, 30, 46, 0.8);
@define-color main-fg rgba(180,190,254,1);
@define-color wb-act-bg rgba(180,190,254,0.9);
@define-color wb-act-fg rgba(0,0,0,0.7);
@define-color wb-hvr-bg rgba(75,75,125,0.4);
@define-color wb-hvr-fg rgba(174,170,240,0.8);

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
    background: @bar-bg;
    border-radius: 15px;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 7px;
    border-width: 0px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @main-fg;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}


#tray,
#workspaces,
#taskbar,
#custom-media,
#clock,
#idle_inhibitor,
#language,
#custom-capslock,
#custom-l_end,
#custom-r_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#system-info {
	background: @main-bg;
	border-radius: 20px;
	margin: 4px 0px 4px 0px;
	padding: 0px 20px 0px 20px;
}

#system-levels {
	background: @main-bg;
	border-radius: 20px;
	margin: 4px 0px 4px 0px;
    padding: 0px 20px 0px 20px;
}

#control-panel {
	background: @main-bg;
	border-radius: 20px;
	margin: 4px 0px 4px 0px;
    padding: 0px 20px 0px 20px;
}


#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
}

#custom-padd_bg {
    background: @main-bg;
    margin: 4px 0px 4px 0px;
}
