[Unit]
Description=Meowrch Update Checker
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=%i
Group=%i
ExecStart=/usr/bin/meowrch-update-checker-wrapper %i

[Install]
WantedBy=default.target
