[Unit]
Description=Clean pacman cache
Documentation=man:pacman(8)

[Service]
Type=oneshot
ExecStart=/usr/bin/pacman -Sc --noconfirm
ExecStart=/usr/bin/pacman -Scc --noconfirm
StandardOutput=journal
StandardError=journal
