# Qt6ct colors: FG                           BTN_BG                       bright                       less_br                      dark                             less_dark                        txt_fg                           br_text                          btn_fg                       txt_bg                           bg                           shadow                           sel_bg                  sel_fg                  link                    visited                      alt_bg                       default                      tooltip_bg                       tooltip_fg                       placeholder_fg               accent
[ColorScheme]
active_colors=#{{themix_FG-hex}},            #{{themix_BG-hex}},          #{{themix_BG-hex}},          #{{themix_BG-hex}},          #{{themix_HDR_BG-hex}},          #{{themix_HDR_BG-hex}},          #{{themix_TXT_FG-hex}},          #{{themix_TXT_FG-hex}},          #{{themix_FG-hex}},          #{{themix_TXT_BG-hex}},          #{{themix_BG-hex}},          #{{themix_HDR_BG-hex}},          #{{themix_SEL_BG-hex}}, #{{themix_SEL_FG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_FG-hex}},          #{{themix_ALT_TXT_BG-hex}},  #{{themix_FG-hex}},          #{{themix_HDR_BG-hex}},          #{{themix_HDR_FG-hex}},          #{{themix_DISABLED_FG-hex}}, #{{themix_ACCENT_BG-hex}}
disabled_colors=#{{themix_DISABLED_FG-hex}}, #{{themix_DISABLED_BG-hex}}, #{{themix_DISABLED_BG-hex}}, #{{themix_DISABLED_BG-hex}}, #{{themix_DISABLED_HDR_BG-hex}}, #{{themix_DISABLED_HDR_BG-hex}}, #{{themix_DISABLED_TXT_FG-hex}}, #{{themix_DISABLED_TXT_FG-hex}}, #{{themix_DISABLED_FG-hex}}, #{{themix_DISABLED_TXT_BG-hex}}, #{{themix_DISABLED_BG-hex}}, #{{themix_DISABLED_HDR_BG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_SEL_FG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_DISABLED_FG-hex}}, #{{themix_DISABLED_BG-hex}}, #{{themix_DISABLED_FG-hex}}, #{{themix_DISABLED_HDR_BG-hex}}, #{{themix_DISABLED_HDR_FG-hex}}, #{{themix_DISABLED_FG-hex}}, #{{themix_ACCENT_BG-hex}}
inactive_colors=#{{themix_FG-hex}},          #{{themix_BG-hex}},          #{{themix_BG-hex}},          #{{themix_BG-hex}},          #{{themix_HDR_BG-hex}},          #{{themix_HDR_BG-hex}},          #{{themix_TXT_FG-hex}},          #{{themix_TXT_FG-hex}},          #{{themix_FG-hex}},          #{{themix_TXT_BG-hex}},          #{{themix_BG-hex}},          #{{themix_HDR_BG-hex}},          #{{themix_SEL_BG-hex}}, #{{themix_SEL_FG-hex}}, #{{themix_SEL_BG-hex}}, #{{themix_FG-hex}},          #{{themix_BG-hex}},          #{{themix_FG-hex}},          #{{themix_HDR_BG-hex}},          #{{themix_HDR_FG-hex}},          #{{themix_DISABLED_FG-hex}}, #{{themix_ACCENT_BG-hex}}
