[Unit]
Description=Wait for Plymouth animation to finish
DefaultDependencies=no
After=plymouth-start.service
Before=display-manager.service plymouth-quit.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sleep 3
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
