[Unit]
Description=Meowrch Update Checker
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/update-meowrch check
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
