[Unit]
Description=Battery charge monitoring service
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/battery.sh
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus

[Install]
WantedBy=default.target
