[Unit]
Description=Battery charge monitoring timer
After=graphical-session.target

[Timer]
OnBootSec=30s
OnUnitActiveSec=10s
AccuracySec=1s

[Install]
WantedBy=timers.target
